{% extends "base.html" %}
{% block head%}
<title>Grade Point</title>
{% endblock %}
{% block content%}
<fieldset>
    <legend>Add Form</legend>
    <form method = 'post' action = 'javascript:void(0)'>
        {{form.csrf_token}}
        {{form.grade.label(class = "form-label")}}
        {{form.grade(class = "form-control")}}
        {{form.point.label(class = "form-label")}}
        {{form.point(class = "form-control")}}
        {{form.submit(class = "btn btn-info mt-3")}}
    </form>
</fieldset>
{% endblock %}
