{% extends "base.html" %}
{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/match.css')}}">
{% endblock %}
{% block content%}
<div id="form">
    <div class="rr">
        <span class="rr-close">&times;</span>
        <div class="cc-alert">
            <p>Recommends:</p>
        </div>
    </div>
    <a href="{{url_for('school.match_file')}}" class="text-primary hv">Have a file ? Match with file</a>
    <fieldset class="mt-3">
        <legend>Enter Your Detail</legend>
        <form method='post' action='javascript:void(0);'>
            {{form.csrf_token}}
            <div class="row">
                <div class="col">
                    {{form.course_name.label(class = "form-label ")}}
                    {{form.course_name(class = "form-select form-select-sm")}}
                </div> 
                <div class="col">
                    {{form.jamb_score.label(class="form-label")}}
                    {{form.jamb_score(class="form-control", max=400, min=180)}}
                </div>           
            </div>
            <div class="row">
                <div class="col">
                    {{form.field1.label(class = "form-label")}}
                    {{form.field1(class = " form-select form-select-sm")}}
                </div>
                <div class="col">
                    {{form.grade_1.label(class="form-label")}}
                    {{form.grade_1(class="form-select form-select-sm")}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                {{form.field2.label(class = "form-label")}}
                {{form.field2 (class = "form-select form-select-sm")}}    
                </div>
                <div class="col">
                    {{form.grade_2.label(class="form-label")}}
                    {{form.grade_2(class="form-select form-select-sm")}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form.field3.label(class = "form-label")}}
                    {{form.field3 (class = "form-select form-select-sm")}}
                </div>
                <div class="col">
                    {{form.grade_3.label(class="form-label")}}
                    {{form.grade_3(class="form-select-sm form-select")}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form.field4.label(class = "form-label")}}
                    {{form.field4(class = "form-select form-select-sm")}}  
                </div>
                <div class="col">
                    {{form.grade_4.label(class="form-label")}}
                    {{form.grade_4(class="form-select form-select-sm")}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form.field5.label(class = "form-label")}}
                    {{form.field5 (class = "form-select form-select-sm")}}  
                </div>
                <div class="col">
                    {{form.grade_5.label(class="form-label")}}
                    {{form.grade_5(class="form-select form-select-sm")}}
                </div>
            </div>

            {{form.submit(class = "btn btn-info mt-3")}}

        </form>
    </fieldset>
</div>
<script type="text/javascript" defer src="{{url_for('static', filename='js/match.js')}}"></script>
{% endblock %}
