{% extends "base.html" %}
{% block head%}
<title>Add Form</title>
{% endblock %}
{% block content%}
<fieldset>
    <legend>Add Form</legend>
    <form method = 'post' action='javascript:void(0);'>
        {{form.csrf_token}}
        {{form.name.label(class = "form-label")}}
        {{form.name(class = "form-control")}}
        {{form.submit(class = "btn btn-info mt-3")}}

    </form>
</fieldset>
<script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
{% endblock %}
