#blo{
	width: 100vw;
	z-index:1;
	display: flex;
	background: var(--bs-light);
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.bloader{
	display: none !important;
}