.ajx{
	display: flex !important;
	align-items: center;
	justify-content: center;
}
#blo{
	width: 100vw;
	z-index:2;
	display: flex;
	background: var(--bs-light);
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.bloader{
	display: none !important;
}