.ajx{
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.body-loading{
	overflow: hidden;
}
#blo{
	width: 100vw;
	z-index:2;
	display: flex;
	background: var(--bs-light);
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.bloader{
	display: none !important;
}
#nav-bnt{
	margin-left: 600px;
}
.space-between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.space-between span{
	display: inline;
	width: auto;
}
.space-between span:nth-child(1){
	margin-top: 25px;
}
.space-between span:nth-child(2){
	float: right;
}
.bio-img{
	height: 50px;
	width: 50px;
	border-radius: 25px;
}
.img-modal{
	display: none;
	height: 100%;
	width: 100%;
	transition: .9s all ease-in-out;
	padding: 10px;
	overflow: hidden;
	justify-content: space-between;
	flex-direction: row-reverse;
	z-index: 1055;
	background: rgba(0, 0, 0, 0.699);
	position: fixed;
	top: 0;
	left: 0;
}
.img-placeholder{
	display: flex;
	height: 100%;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.circled-x{
	font-size: 50px;
	font-weight: bold;
	transition: .3s all ease;
}
.circled-x:hover{
	color: brown;
}
.selected-img{
	border-radius: 5px;
}

@media screen and (max-width:1070px){
	.bio-data{
		display: none;
	}
}