@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300&display=swap');

body{
	font-family: 'Lora', serif;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	color: lightgray;
	font-weight: lighter;
	display: flex;
	flex-direction: row;
	align-items: center;
}
h1{
	margin: 10px;
	text-align: center;
}
h4{
	margin: 0;
}
a{
	text-decoration: none;
}
form{
	display: flex;
	flex-direction: column;
}
label{
	font-size: 15px;
	margin: 3px;
}
input[type="submit"]{
	margin-top: 5px;
}
.content-section{
	border: 1px solid rgba(211, 211, 211, 0.432);
	border-radius: 5px;
}
.pf{
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.profile{
	display: flex;
	flex-direction: row;
}
.u-img{
	width: 64px;
	height: 64px;
	border-radius: 32px;
}
.cc{
	display: flex;
	justify-content: space-between;
}
.id-hd{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.profile-body{
	width: 400px;
}
.profile-input{
	padding: 10px;
	width: 80%;
	margin: 5px;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgba(211, 211, 211, 0.432);
}
.profile-btn{
	outline: none;
	cursor: pointer;
	padding: 10px;
	margin: 5px, 5px;
	border: none;
	outline: none;
	border-radius: 5px;
	width: auto;
	max-width: 100px;
}
.profile-btn:nth-child(2){
	margin-left: 5px;
	justify-self: center;
}
.img-form{
	background-color: #17151b;
	padding: 12px;
	margin: 12px;
}
.if{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.name{
	text-align: center;
}
.form-img{
	width: 100px;
	border-radius: 50px;
	height: 100px;
}
@media (prefers-color-scheme: dark){
	body{
		color: antiquewhite;
		background: #121212;
		
	}
	.pf{
		background: #17151b;
	}
	a{
		color: lightblue;
	}
	.profile-btn{
		background-color: greenyellow;
	}
}