{% extends "admin/base.html" %}
{% block head %}
<title>Admin Login</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin/auth.css/')}}">
{% endblock %}
{% block content %}
<fieldset class="form card mt-3 text-light" style="max-width: 35rem;  background-color:#3a1844;">
    <legend class="card-header text-center">Auth | Admin | Form</legend>
    <form method = 'post' action = 'javascript:void(0);' class="card-body">
        {{form.csrf_token}}
        <div class="row">
            <div class="col">
                {{form.username.label(class = "form-label")}}
                {{form.username(class = "form-control")}}
            </div>            
            <div class="col">
                {{form.password.label(class="form-label")}}
                {{form.password(class="form-control")}}
            </div>
        </div>
        <div class="row">
        	{{form.login(class="login btn btn-primary btn-md mt-3")}}
        	<div class="card-footer text-center">
        		Create an account ? <a href="{{url_for('admin.sign_up')}}" class="link text-light">Sign up!</a>
        	</div>
        </div>
    </form>
</fieldset>
<script type="text/javascript" src="{{url_for('static', filename='js/admin/auth.js')}}"></script>
{% endblock %}