{% extends "admin/base.html" %}
{% block head %}
<title>Admin Login</title>
{% endblock %}
{% block content %}
<fieldset class="form card mt-3 bg-secondary text-light" style="max-width: 35rem;">
    <legend class="card-header text-center">Auth | Admin | Form</legend>
    <form method = 'post' action = '#' class="card-body">
        {{form.csrf_token}}
        <div class="row">
            <div class="col">
                {{form.username.label(class = "form-label")}}
                {{form.username(class = "form-control")}}
            </div>            
            <div class="col">
                {{form.password.label(class="form-label")}}
                {{form.password(class="form-control")}}
            </div>
        </div>
        <div class="row">
        	{{form.login(class="login btn btn-primary btn-md mt-3")}}
        	<!-- <div class="card-footer">
        		Create an account ? <a href="{{url_for('admin.register_user')}}" class="link text-light">Sign up!</a>
        	</div> -->
        </div>
    </form>
</fieldset>

{% endblock %}