<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin/base.css')}}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
  {% block head %}
  {% endblock %}
</head>
<body id="body">
    <div id="blo">
        <img src="{{url_for('static', filename='img/1485.gif')}}" alt="Loader-Icon"/>
    </div>
    {% with messages = get_flashed_messages(with_categories = True) %}
          {% for category, message in messages %}
              <p class = "alert alert-{{category}}">{{ message }}</p>
          {% endfor %}
    {% endwith %}
    <!-- <section class="container-fluid col-md-8 mb-5 pl-5 pr-5 ajx" id="content">
      
    </section> -->
    <section class="content-section ajx">
      {% block content %}
      {% endblock %}
    </section>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

