<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin/base.css')}}">
  <link  rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
  {% block head %}
  {% endblock %}
</head>
<body id="body">
  <div class="admin-section">
    <center>
      <img src="{{url_for('static', filename='img/lasustech_logo-2.png')}}" class="a-lg" alt="logo">
      <h3>Lasustech</h3>
    </center>
    <hr class="hr">
    <div class="sub-section">
      <ul>
        <li class="current home"><a href="{{url_for('admin.home')}}">Home</a></li>
        <li class="subject"><a href="{{url_for('admin.add_subject')}}">Add Subjects</a></li>
        <li class="course"><a href="{{url_for('admin.add_form')}}">Add Lasustech Course</a></li>
        <li class="gp"><a href="{{url_for('admin.grade_point')}}">Add Grade Point score</a></li>
        <li><a href="{{'school.match'}}">Visit User Page...</a></li>
      </ul>
    </div>
    
  </div>
    <div id="blo">
        <img src="{{url_for('static', filename='img/1485.gif')}}" alt="Loader-Icon"/>
    </div>
    {% with messages = get_flashed_messages(with_categories = True) %}
          {% for category, message in messages %}
              <p class = "alert alert-{{category}}">{{ message }}</p>
          {% endfor %}
    {% endwith %}
    <!-- <section class="container-fluid col-md-8 mb-5 pl-5 pr-5 ajx" id="content">
      
    </section> -->
    <section class="content-section ajx jj">
      {% block content %}
      {% endblock %}
    </section>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

