<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
  {% block head %}
  {% endblock %}
</head>
<body id="body">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
      <div class="container ml-5">
        <a class="navbar-brand text-info" href="/">MatchRecommendCourse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('school.index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sp auth" href="{{url_for('school.match')}}">Match</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sp auth" href="{{url_for('school.add_form')}}">Add Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sp auth" href="{{url_for('school.add_subject')}}">Add Subject</a>
            </li>
            <li class="nav-item">
              <a class="nav-link sp auth" href="{{url_for('school.grade_point')}}">Grade Point</a>
            </li>
            <li class="nav-item">
              <a class="nav-link usp" href="{{url_for('users.login')}}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link auth" href="{{url_for('users.log_out')}}">Log Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="blo">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </section>
    
    <div class="container-fluid col-md-8 mb-5 pl-5 pr-5 ajx" id="content">
      {% with messages = get_flashed_messages(with_categories = True) %}
          {% for category, message in messages %}
              <p class = "alert alert-{{category}}">{{ message }}</p>
          {% endfor %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

