<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}">
	<title>Welcome Aspirants !</title>
</head>
<body>
	<div class="section-1">
		<div class="content">
			<h1>Welcome to your path of excellence !</h1>
			<p>
				Your Pursuit Of Knowledge, Your Dream Career, And Your Aspirations - It All Begins Here, We're Not Just App; We're Your Trusted Companion On This Exciting Journey On University Admission. 
			</p>
		</div>
	</div>
	<div class="section-2">
		<div class="content">
			<img src="{{url_for('static', filename='img/favicon.png')}}" alt="page-img">
			<h1>Welcome to your Lasustech admission companion</h1>
			<button type="button" onclick="window.location.pathname='/login/';">Click here for more information</button>
		</div>
	</div>
</body>
</html>