<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.png')}}">
	<title>Welcome Aspirants !</title>
	<meta property="og:title" content="ND2 MR. Adelanwa Recommender">
	<meta property="og:url" content="{{url_for('school.index', _external=True)}}">
	<meta property="og:image" content="{{url_for('static', filename='img/toa-unsplash.jpg', _external=True)}}">
	<meta property="og:image:alt" content="Student on blue jacket">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="2500" />
	<meta property="og:image:height" content="1330" />
	<meta property="og:description" content="Developed by students under mr. adelanwa to recommend courses for aspirants">
	<meta property="og:site_name" content="ND2-Recommender">
</head>
<body>
	<div class="section-1">
		<div class="content">
			<h1>Welcome To Your Path Of Excellence !</h1>
			<p>
				Your Pursuit Of Knowledge, Your Dream Career, And Your Aspirations - It All Begins Here, We're Not Just App; We're Your Trusted Companion On This Exciting Journey On University Admission. 
			</p>
		</div>
	</div>
	<div class="section-2">
		<div class="content">
			<img src="{{url_for('static', filename='img/favicon.png')}}" alt="page-img">
			<h1>Welcome To Lasustech Admission Companion</h1>
			<button type="button" onclick="window.location.pathname='/login/';">Click here for more information</button>
		</div>
	</div>
</body>
</html>