{% extends "base.html" %}
{% block head%}
<title>Home</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/match.css')}}">
{% endblock %}
{% block content%}
<section class="bio-data card">
	<div class="card-header space-between row">
		<p>Bio's Data</p>
		<p class="text-primary"><a href="#">Edit</a></p>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<p>Email: <span class="email"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>First Name: <span class="first"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Last Name: <span class="last"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Middle Name: <span class="mid"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Date Of Birth: <span class="dob"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Jamb Reg No: <span class="regno"></span></p>
			</div>
			<div class="col">
				<p>Waec Id: <span class="wid"></span></p>
			</div>
		</div>
	</div>
</section>
<fieldset class="form mt-3">
    
</fieldset>
<script type="text/javascript" defer src="{{url_for('static', filename='js/match.js')}}"></script>
{% endblock %}
