{% extends "base.html" %}
{% block head %}
<title>Match a number students</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/upload.css')}}">
{% endblock %}
{% block content %}
<div class="processed-documents pd">
	<header>Processed Student <span>Web View</span></header>
	<p class="pclose">&times;</p>
	<table class="ccpd" border="3px" cellpadding="3" cellspacing="3" >
		<tr>Page <span class="pg"></span> of <span class="pgno"></span><br></tr>
		<thead>
			<tr>
				<td align="center">Full Name</td>
				<td align="center">Jamb Score</td>
				<td align="center">Course</td>
				<td align="center">Subject-1</td>
				<td align="center">Grade</td>
				<td align="center">Subject-2</td>
				<td align="center">Grade</td>
				<td align="center">Subject-3</td>
				<td align="center">Grade</td>
				<td align="center">Subject-4</td>
				<td align="center">Grade</td>
				<td align="center">Subject-5</td>
				<td align="center">Grade</td>
				<td align="center">Score</td>
				<td align="center">Passed</td>
				<td align="center">Why</td>
				<td align="center">Special</td>
				<td align="center">Recommendation</td>
			</tr>
		</thead>
		<tbody class="ccpdc">
			
		</tbody>
		<button class="btn btn-secondary prev mr-5" type="button">Previous</button>
		<button class="btn btn-secondary ml-3 next" type="button">Next</button>
	</table>
</div>
<div id="form">
	<a href="javascript:void(0)" class="text-info processed mb-3">View my processed files</a>
	<fieldset>
		<legend >
			Match with file
		</legend>
		<form action="#" method="post" enctype="multipart/form-data">
			{{form.csrf_token}}
			<small class="text-info">size: (eg. min:1kb, max:10mb)</small>
			{{form.file_csv(class="form-control")}}
			<hr>
			{{form.submit(class="btn btn-secondary")}}
		</form>
	</fieldset>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/match_file.js')}}">
	
</script>
{% endblock %}