:root{
	--bg-purple:#3a1844;
	--nav-bg:#17151b;
	--abg-color:#150E28;
}
body{
	background-color:var(--abg-color) !important;
	color:#fff;
	display: flex;
	overflow: hidden;
	flex-direction: row;
}
fieldset{
	background-color: var(--bg-purple);
	font-family: monospace;
}
blockquote{
	transition: .1s display;
	max-height: 30vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.hr{
	margin-left: 15px;
}
.a-lg{
	width: 45px;
	height: 45px;
	border-radius: 90px;
}
.jj{
	position: relative;
	margin-left: 300px;
	width: 50vw;
	display: flex !important;
	flex-direction: column !important;
}
.bg-purple{
	background-color: var(--bg-purple) !important;
}
.body-loading{
	overflow: hidden;
}

.bio-data{
	max-width: 300px;
	width: 280px;
	margin-top:50px;
	top: 40px;
	left: 5px;
	position: absolute;
	margin-right: 20px;
	margin-left: 20px;
	max-height: 400px;
}
#blo{
	width: 100vw;
	z-index:2;
	display: flex;
	background: var(--bs-light);
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.bloader{
	display: none !important;
}
.b-ul{
	display: none;
	opacity: 0.5;
	transform: translateY(10px);
}
.core, .a-o{
	margin-left: 10px;
	padding: 0;
	border-radius: 3px;
	padding: 12px;
	display: flex;
	transition: .5s all;
	flex-direction: row;
	justify-content: space-between;
}
.carat{
	transition: .7s all;
}
.core:hover, .a-o:hover{
	background-color: var(--bs-dark);
}
.c-r{
	transform: rotateX(200deg);
}
.admin-section{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 280px;
	max-width: 40vw;
	z-index: 101;
	background-color: #17151b;
	padding-right: 10px;
}
.sub-section{
	overflow-y: auto;
	display: flex;
	justify-content: space-between;
	height: 70vh;
	max-height: 70vh;
	flex-direction: column;
}
.sub-section ul{
	line-height: 30px;
}
.sub-section ul li{
	list-style-type: none;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: .4s all;
	cursor: pointer;
}
.sub-section ul li:hover{
	background-color: var(--bs-dark);
}
li.current{
	background-color: var(--bs-dark);
}
li > a{
	text-decoration: none;
	color: white;
	font-weight: 400;
}
.sign-out{
	text-decoration: none;
	color: lightblue;
}
.home-header{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	justify-content: space-between;
}
.home-header, home-header > h3{
	margin-bottom: 0;
	padding: 0;
}
.alert{
	max-width: 700px !important;
}
@media screen and (max-width:1070px){
	body{
		padding: 5px;
	}
	.admin-section{
		display: none !important;
	}
	.jj{
		margin: 0 !important;
		display: flex !important;
		align-items: center;
		height: 100%;
		width: 100%;
		justify-content: center;
	}
	.mobile-handler{
		width: 80%;
	}
}