body{
	background-color:#150E28 !important;
	color:#fff;
	overflow: hidden;
}
fieldset{
	background-color: #3a1844;
	font-family: monospace;
}
}
.bio-data{
	max-width: 300px;
	width: 280px;
	margin-top:50px;
	top: 40px;
	left: 5px;
	position: absolute;
	margin-right: 20px;
	margin-left: 20px;
	max-height: 400px;
}
#blo{
	width: 100vw;
	z-index:2;
	display: flex;
	background: var(--bs-light);
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.bloader{
	display: none !important;
}