<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users | Edit-Profile | Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/lasustech_logo-2.png')}}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/base.js')}}"></script>
</head>
<body>
    <section class="img-form">
        <h1 class="name">

        </h1>
        <div class="pf if">
                <img src="" alt="user-profile" class="form-img" />
                <form action="javascript:void(0)" method="post" enctype="multipart/form-data" class="ff">
                    {{imform.csrf_token}}
                    {{imform.img(accept="image/*")}}
                    {{imform.upload(class="profile-btn")}}
                </form>
                <span>Note: <small>You need to upload before it updates</small></span>
        </div>
    </section>
    <section class="content-section ajx jj">
        <h1>Edit User Profile Page</h1>
        <div class="pf">
            <div class="profile">
                <form class="" method="post" action="javascript:void(0)" autocomplete="off">
                    {{form.csrf_token}}
                    {{form.email.label}}
                    {{form.email(class="profile-input")}}
                    <div class="row">
                        <div class="group">
                            {{form.first_name.label}}
                            {{form.first_name(class="profile-input")}}
                        </div>
                        <div class="group">
                            {{form.last_name.label}}
                            {{form.last_name(class="profile-input")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="group">
                            {{form.username.label}}
                            {{form.username(class="profile-input")}}
                        </div>
                        <div class="group">
                            {{form.middle_name.label}}
                            {{form.middle_name(class="profile-input")}}
                        </div>
                    </div>
                    
                    {{form.update(class="profile-btn")}}
                </form>
            </div>
        </div>
    </section>
    <section class="sc-data">
        <h1>Edit Bio's-Data</h1>
        <div class="pf">
            <form action="" method="post" autocomplete="off">
                {{bform.csrf_token}}
                {{bform.jamb_reg.label}}
                {{bform.jamb_reg(placeholder="Jamb-Reg No.", class="profile-input")}}
                {{bform.waec_id.label}}
                {{bform.waec_id(placeholder="Waec-Id No.", class="profile-input")}}
                {{bform.update(class="profile-btn")}}
            </form>
        </div>
    </section>
    <script src="{{url_for('static', filename='js/edit_profile.js')}}"></script>
</body>
</html>